[workspace]
members = ["codegen", "libpq-sys", "."]

[package]
name = "libpq"
version = "2.0.0"
authors = ["Sanpi <sanpi@homecomputing.fr>"]
edition = "2021"
license = "MIT"
repository = "https://github.com/sanpii/libpq.rs"
description = "Safe binding for libpq"
keywords = ["database", "postgres", "postgresql", "sql"]
categories = ["database"]
readme = "README.md"

[dependencies]
libc = "0.2"
log = "0.4"

[dependencies.bitflags]
version = "1.3"
optional = true

[dependencies.pq-sys]
package = "libpq-sys"
path = "libpq-sys"
version = "0.6"

[dev-dependencies]
env_logger = "0.9"

[build-dependencies.codegen]
version = "0.1"
path = "codegen"

[features]
default = []
v11 = []
v12 = ["v11"]
v13 = ["v12"]
v14 = ["v13", "bitflags"]
